@page "/"

    <img src="Images/logo.png" width="200px" />

<h2 style="text-align:center">Bienvenido a Cummins - SGI</h2>

<h3></h3>

<h4 style="margin-left:20px">Argentina - @DateTime.Now.Year</h4>


