@page "/camdetect"
@inject ITBService<Role> roleService
<div class="card mb-3">
    <h3 class="card-header">Camara TheaBot</h3>
    <div class="card-body">
        <h5 class="card-title">Video Vivo</h5>
    </div>
    <br />
    @*<div class="col-12 row">
            <label class="col-2 font-weight-bold">Camara :</label>
            <select class="form-control col-10" @onchange="OnChangeEvent" name="IdCamara" id="IdCamara">
                <option value="">Seleccione Rol...</option>
                @if (Roles != null)
                {
                    foreach (var item in Roles)
                    {
                        <option value="@item.Id">@item.Descripcion</option>
                    }
                }
            </select>
            &nbsp;<ValidationMessage For="@(() => user.IdRole)" />
        </div>*@
    <div style="width:100%;height:auto;text-align:center;">
        <CamComponent Address="@Address"></CamComponent>
    </div>
    <div class="card-footer text-muted">
        Recibiendo streaming....
    </div>
</div>


@code {

    [Parameter]
    public string Address { get; set; }

}

