@inherits LayoutComponentBase
@using SGI.Pages
@using SGI.Pages.Categories 

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <LoginDisplay />
    </div>

    <div class="content px-4">
        <AuthorizeView>
            <Authorized>
                @Body
            </Authorized>
            <NotAuthorized>
                <SGR.Pages.Index></SGR.Pages.Index>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>
