@page "/addOem"
@using SGRBlazorApp.Data
@using SGRBlazorApp.Interfaces
@using CuriousDriveRazorLibrary
@using Blazored.LocalStorage
@inject ILocalStorageService localStorageService
@inject ISgrService<Oem> bookStoresService
@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager
@implements IDisposable
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
<div class="col-12">
    <h3><b>Agregar Nueva Oem</b></h3>
    <hr />

    <ServerValidations IsVisible="IsVisible" Result="Result">
        @RecordName
    </ServerValidations>

    <EditForm Model="@Oem" OnValidSubmit="@SaveOem">
        @*<DataAnnotationsValidator />*@

        <div class="col-12 row">
            <label class="col-2 font-weight-bold">Nombre:</label>
            <InputText class="form-control col-3" @bind-Value="Oem.Nombre" placeholder="Nombre" required/>
            &nbsp;<ValidationMessage For="@(() => Oem.Nombre)" />
        </div>
        <br />
        <div class="col-12 row">
            <span class="col-2"></span>
            <input type="submit" class="btn btn-success" value="Guardar" />
            <span>&nbsp;</span>
            <a style="background-color:red;color:white" class="btn btn-success" href="/Oems">Cancelar</a>
        </div>
    </EditForm>
</div>
<br />


@code
{
    public Oem Oem { get; set; }
    public bool IsVisible { get; set; }
    public bool Result { get; set; }
    public string RecordName { get; set; }

    public void Dispose()
    {
        Console.WriteLine("Oems - Dispose");
    }

    private Dictionary<string, object> htmlAttribute { get; set; } = new Dictionary<string, object>() {
            {"maxlength", "8" }
            };

    //private async void OnChange(KeyboardEventArgs e)
    //{
    //    if(!String.IsNullOrEmpty(Oem.NumeroOem))
    //    {
    //        if (Oem.NumeroOem.Length > 7)
    //        {
    //            await JSRuntime.MostrarMensaje("Error!", "El Numero de Oem no puede ser mayor a 8 caracteres", TipoMensajeSweetAlert.error);
    //            Oem.NumeroOem = Oem.NumeroOem.Substring(0,8);
    //        }
    //    }
    //}

    //string stringValue = "";

    //private async Task SetValue(string Value)
    //{
    //    if (Value.Length > 7)
    //    {
    //        await JSRuntime.MostrarMensaje("Error!", "El Numero de Oem no puede ser mayor a 8 caracteres", TipoMensajeSweetAlert.error);
    //        Oem.NumeroOem = Value.Substring(0,8);
    //    }
    //    else
    //    {
    //        stringValue = Value;

    //    }
    //}

    protected override void OnInitialized()
    {
        Console.WriteLine("Clientes - OnInitialized");
        base.OnInitialized();
    }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    ClaimsPrincipal user;

    bool IsUserAuthenticated;
    bool IsPublisher;
    bool IsSeniorEmployee;

    public int Count { get; set; } = 400;

    private SGRBlazorApp.Data.User users;

    protected override async Task OnInitializedAsync()
    {
        user = (await authenticationStateTask).User;

        if (!user.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("/");
        }
        Console.WriteLine("Clientes - OnInitializedAsync");

        Oem = new Oem();
        await base.OnInitializedAsync();
    }

    private async Task SaveOem()
    {
        await bookStoresService.SaveAsync("Oems/CreateOems", Oem);

        //if(Oem.NumeroOem.Length < 8)
        //{
        //    Oem.NumeroOem = Oem.NumeroOem.PadLeft(8, '0');
        //    //Oem.NumeroOem = Oem.NumeroOem.ToString("00000000");
        //    //Oem.NumeroOem = Oem.NumeroOem.ToString("D8");
        //}
        Result = true;
        IsVisible = true;

        //var firstName = Oem.NumeroOem;
        //var lastName = Oem.Oem;

        //RecordName = firstName + " " + lastName;

        Oem = new Oem();

        navigationManager.NavigateTo("/Oems");
    }
}
