@page "/dealers"
@layout MainLayout
@inherits Sgi.Pages.DealersComponent

@using Radzen
@using Radzen.Blazor
@using Sgi.Models.SgiCore
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Dealers">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getDealersResult" TItem="Sgi.Models.SgiCore.Dealer" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Dealer" Property="Name" Title="Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Dealer" Property="LocationCode" Title="Location Code">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Dealer" Property="DistributorCode" Title="Distributor Code">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Dealer" Property="Country" Title="Country">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Dealer" Property="State" Title="State">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Dealer" Property="City" Title="City">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Dealer" Property="Address" Title="Address">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Dealer" Property="Phone" Title="Phone">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Dealer" Property="Fax" Title="Fax">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Dealer" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="sgiModelsSgiCoreDealer">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, sgiModelsSgiCoreDealer))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
