@page "/motors"
@layout MainLayout
@inherits Sgi.Pages.MotorsComponent

@using Radzen
@using Radzen.Blazor
@using Sgi.Models.SgiCore
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Motors">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getMotorsResult" TItem="Sgi.Models.SgiCore.Motor" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Motor" Property="Id" Title="Id">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Motor" Property="Created" FormatString="{0:dd/MM/yyyy}" Title="Created">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Motor" Property="Modified" FormatString="{0:dd/MM/yyyy}" Title="Modified">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Motor" Property="Deleted" FormatString="{0:dd/MM/yyyy}" Title="Deleted">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Motor" Property="NumeroMotor" Title="Numero Motor">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Motor" Property="NumeroChasis" Title="Numero Chasis">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Motor" Property="Modelo" Title="Modelo">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Motor" Property="HsKm" Title="Hs Km">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Motor" Property="Equipo" Title="Equipo">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Motor" Property="ModeloEquipo" Title="Modelo Equipo">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Motor" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="sgiModelsSgiCoreMotor">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, sgiModelsSgiCoreMotor))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
