@page "/users"
@layout MainLayout
@inherits Sgi.Pages.UsersComponent

@using Radzen
@using Radzen.Blazor
@using Sgi.Models.SgiCore
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Users">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getUsersResult" TItem="Sgi.Models.SgiCore.User" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.User" Property="Id" Title="Id">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.User" Property="Created" FormatString="{0:dd/MM/yyyy}" Title="Created">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.User" Property="Modified" FormatString="{0:dd/MM/yyyy}" Title="Modified">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.User" Property="Deleted" FormatString="{0:dd/MM/yyyy}" Title="Deleted">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.User" Property="username" Title="Username">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.User" Property="email" Title="Email">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.User" Property="password" Title="Password">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.User" Property="name" Title="Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.User" Property="lastname" Title="Lastname">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.User" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="sgiModelsSgiCoreUser">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, sgiModelsSgiCoreUser))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
