@page "/editSintoma/{Id:guid}"
@using SGRBlazorApp.Data
@using SGRBlazorApp.Interfaces
@using CuriousDriveRazorLibrary
@using Blazored.LocalStorage
@using SGRBlazorApp.Shared
@inject ISgrService<Sintoma> bookStoresService
@inject IUserService userService
@inject ILocalStorageService localStorageService
@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager
@implements IDisposable
@using System.Reactive.Linq;
@using System.Reactive.Subjects
@using SGRBlazorApp.Services
@inject GeocodingService GeocodingService
<div class="col-12">
    <h3><b>Editar Sintoma</b></h3>
    <hr />

    <ServerValidations IsVisible="IsVisible" Result="Result">
        @RecordName
    </ServerValidations>

    <EditForm Model="@Sintoma" OnValidSubmit="@SaveSintoma">
        @*<DataAnnotationsValidator />*@

        <div class="col-12 row">
            <label class="col-2 font-weight-bold">Descripcion:</label>
            <InputText class="form-control col-3" @bind-Value="Sintoma.Descripcion" placeholder="Codigo" />
            &nbsp;<ValidationMessage For="@(() => Sintoma.Descripcion)" />
        </div>
        <br />
        <div class="col-12 row">
            <span class="col-2"></span>
            <input type="submit" class="btn btn-success" value="Guardar" />
            <span>&nbsp;</span>
            <a style="background-color:red;color:white" class="btn btn-success" href="/Sintoma">Cancelar</a>
        </div>
    </EditForm>
</div>
<br />


@code
{
    [Parameter]
    public Guid Id { get; set; }
    public Sintoma Sintoma { get; set; }
    public bool IsVisible { get; set; }
    public bool Result { get; set; }
    public string RecordName { get; set; }

    Subject<string> addressSubject = new Subject<string>();

    protected async override void OnInitialized()
    {
        Sintoma = await bookStoresService.GetByIdAsync("Sintoma/GetSintoma/", Id);
        base.OnInitialized();
    }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    ClaimsPrincipal user;

    bool IsUserAuthenticated;
    bool IsPublisher;
    bool IsSeniorEmployee;

    public int Count { get; set; } = 400;

    private SGRBlazorApp.Data.User users;

    protected override async Task OnInitializedAsync()
    {
        user = (await authenticationStateTask).User;

        if (!user.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("/");
        }
        Console.WriteLine("Sintoma - OnInitializedAsync");
        Sintoma = new Sintoma();
        Sintoma = await bookStoresService.GetByIdAsync("Sintoma/GetSintoma/", Id);

        await base.OnInitializedAsync();
    }

    public void Dispose()
    {
        Console.WriteLine("Sintoma - Dispose");
    }

    private async Task SaveSintoma()
    {
        if (Sintoma.Id == Guid.Empty)
            await bookStoresService.SaveAsync("Sintoma/CreateSintoma", Sintoma);
        else
            await bookStoresService.UpdateAsync("Sintoma/UpdateSintoma/", Sintoma.Id, Sintoma);

        Result = true;
        IsVisible = true;

        //var firstName = Sintoma.NumeroSintoma;
        //var lastName = Sintoma.Sintoma;

        //RecordName = firstName + " " + lastName;

        Sintoma = new Sintoma();

        navigationManager.NavigateTo("/Sintoma");
    }

    int zoom = 5;

    bool showMap;

    public GoogleMapPosition pos;

    public GoogleMapPosition posMap = new GoogleMapPosition() { Lat = -34.29403345819787, Lng = -64.03364269523182 };

    public double? latitud;

    public double? longitud;

    Dictionary<DateTime, string> events = new Dictionary<DateTime, string>();

    void MapClick(GoogleMapClickEventArgs args)
    {
        events.Add(DateTime.Now, $"Map clicked at Lat: {args.Position.Lat}, Lng: {args.Position.Lng}");
        StateHasChanged();
    }


    public string Address { get; set; }

    public string GeoLocation { get; set; }

    public bool IsLoading { get; set; }

    private GeocodingResult[] Results { get; set; } = new GeocodingResult[0];

    void onTextChanged(ChangeEventArgs args)
    {
        addressSubject.OnNext(args.Value.ToString());
    }


    //private void OnRowSelect(GeocodingResult row)
    //{
    //    Address = row.FormattedAddress;
    //    GeoLocation = $"Lat:{row.Geometry.Location.Lat}, Lng: {row.Geometry.Location.Lng}";
    //    Results = new GeocodingResult[0];
    //    pos = new GoogleMapPosition() { Lat = row.Geometry.Location.Lat, Lng = row.Geometry.Location.Lng };
    //    posMap = new GoogleMapPosition() { Lat = row.Geometry.Location.Lat, Lng = row.Geometry.Location.Lng };
    //    Sintoma.LatitudGps = (long)row.Geometry.Location.Lat;
    //    Sintoma.LongitudGps = (long)row.Geometry.Location.Lng;
    //    zoom = 16;
    //    showMap = true;
    //    StateHasChanged();
    //}

    //private async void OnAddressChanged(string address)
    //{
    //    Address = address;
    //    IsLoading = true;
    //    GeoLocation = "";
    //    await InvokeAsync(() => StateHasChanged());

    //    var response = await GeocodingService.FindAsync(address);
    //    Results = response.Results;

    //    IsLoading = false;

    //    await InvokeAsync(() => StateHasChanged());
    //}
}