@page "/clientes"
@layout MainLayout
@inherits Sgi.Pages.ClientesComponent

@using Radzen
@using Radzen.Blazor
@using Sgi.Models.SgiCore
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Clientes">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getClientesResult" TItem="Sgi.Models.SgiCore.Cliente" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Cliente" Property="Nombre" Title="Nombre">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Cliente" Property="Telefono" Title="Telefono">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Cliente" Property="Email" Title="Email">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Cliente" Property="Direccion" Title="Direccion">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Cliente" Property="DNI" Title="DNI">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Cliente" Property="TipoDNI" Title="Tipo DNI">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Cliente" Property="Celular" Title="Celular">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Cliente" Property="Localidad" Title="Localidad">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Cliente" Property="Provincia" Title="Provincia">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Sgi.Models.SgiCore.Cliente" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="sgiModelsSgiCoreCliente">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, sgiModelsSgiCoreCliente))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
